#*
.#*
elpa
.*~
/.emacs.d/ac-comphist.dat
/.emacs.d/smex-items
/.emacs.d/ido.last
/.cask
network-security.data
/.emacs.d/cfg/*.el
/.emacs.d/mjr/*.el
/.emacs.d/emacs.el
/.emacs.d/history
/.emacs.d/recentf
/.emacs.d/.backups
/.emacs.d/.autosaves
/.emacs.d/.org-id-locations
/.emacs.d/recentf~
/.emacs.d/transient
/.emacs.d/url
/.emacs.d/straight/
/.emacs.d/tramp
/.emacs.d/bookmarks
/.emacs.d/org-gcal/
/.emacs.d/.cache/
/.emacs.d/.dap-breakpoints
/.emacs.d/.lsp-session-v1
/.emacs.d/.trello/
/.emacs.d/eclipse.jdt.ls/
/.emacs.d/forge-database.sqlite
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/request/
/.emacs.d/var/
/.emacs.d/workspace/
/.emacs.d/eln-cache/
/.emacs.d/org-roam.db
/.emacs.d/vimish-fold/
